<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" 
	  xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8"/>
<title>Home</title>
<link rel="stylesheet" href="../../css/bootstrap.min.css" >
</head>
<body>
<div class="container">
	<div th:replace="navtemplate :: navbar"></div>
	<div class="row"><h2>Rating List</h2></div>
	<div class="row">
		<a href="/rating/add" class="btn btn-primary btn-sm">Add New</a>
		<table class="table table-bordered">
			<thead>
				<tr>
					<th>Id</th>
					<th>MoodysRating</th>
					<th>SandPRating</th>
					<th>FitchRating</th>
					<th>Order</th>
					<th>Action</th>
				</tr>
			</thead>
			<tbody>
			<!-- TODO: Show all Rating to the table, the Action column will have Edit & Delete buttons -->
				<tr th:each="rating : ${ratingList}">
					<td style="width: 10%" th:text="${rating.getId()}"></td>
					<td th:text="${rating.getMoodysRating()}"></td>
					<td th:text="${rating.getSandPRating()}"></td>
					<td th:text="${rating.getFitchRating()}"></td>
					<td style="width: 25%" th:text="${rating.getOrderNumber()}"></td>
					<td style="width: 15%" class="text-center">
						<a th:href="@{/rating/update/{id}(id=${rating.getId()})}">Edit</a>&nbsp;|&nbsp;
						<a th:href="@{/rating/delete/{id}(id=${rating.getId()})}">Delete</a>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>
</body>
</html>