<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" 
	  xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8"/>
<title>Home</title>
<link rel="stylesheet" href="../../css/bootstrap.min.css" >
</head>
<body>
<div class="container">
	<div th:replace="navtemplate :: navbar"></div>
	<div class="row"><h2>Trade List</h2></div>
	<div class="row">
		<a href="/trade/add" class="btn btn-primary btn-sm">Add New</a>
		<table class="table table-bordered">
			<thead>
				<tr>
					<th>Id</th>
					<th>Account</th>
					<th>Type</th>
					<th>Buy Quantity</th>
					<th>Action</th>
				</tr>
			</thead>
			<tbody>
			<!-- TODO: Show all Trade to the table, the Action column will have Edit & Delete buttons -->
				<tr th:each="trade : ${tradeList}">
					<td style="width: 10%" th:text="${trade.getTradeId()}"></td>
					<td style="width: 10%" th:text="${trade.getAccount()}"></td>
					<td th:text="${trade.getType()}"></td>
					<td th:text="${trade.getBuyQuantity()}"></td>
					<td style="width: 15%" class="text-center">
						<a th:href="@{/trade/update/{id}(id=${trade.getTradeId()})}">Edit</a> |
						<a th:href="@{/trade/delete/{id}(id=${trade.getTradeId()})}">Delete</a>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>
</body>
</html>